/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* Barra de navegação */
nav {
    background-color: #333;
    padding: 10px;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff6347; /* Cor ao passar o mouse */
}

/* Conteúdo principal */
main {
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

/* Seção de perfil */
.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.foto-perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #333;
    margin-bottom: 15px;
}

.info-perfil h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.info-perfil p {
    
    font-size: 1rem;
    margin-bottom: 5px;
}

/* Descrição breve */
.descricao {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.descricao p {
    font-size: 1rem;
    color: #555;
}